{{ base }} {{ term.phase }}{{ '= ' }}
{%- if term.numerator == '1' -%}
    {%- if term.denominator != '1' -%}
        {{ '1.0 / ' }}{{ term.denominator }}{{ ' * ' }}
    {%- endif -%}
{%- else -%}
    {{ term.numerator }}
    {%- if term.denominator != '1' -%}
        {{ ' / ' }}{{ term.denominator }}
    {%- endif -%}
    {{ ' * ' }}
{%- endif -%}
{% if term.direct_expr is defined and term.direct_expr is not none -%}
{{ term.direct_expr }}
{% else -%}
{{ einsum }}(
{{ cont_indent | form_indent }}"{{ term.einsum_spec }}", {% for factor in term.indexed_factors -%}
    {{ factor.base }}{% if not loop.last %}, {% endif %}
{%- endfor %}

)
{% endif %}
